absl-py==0.1.13
astor==0.6.2
backports.shutil-get-terminal-size==1.0.0
backports.weakref==1.0.post1
beautifulsoup4==4.4.1
bleach==1.5.0
certifi==2018.4.16
chardet==3.0.4
click==6.7
configparser==3.5.0
decorator==4.2.1
entrypoints==0.2.3
enum34==1.1.6
Flask==0.12.2
funcsigs==1.0.2
functools32==3.2.3.post2
futures==3.2.0
gast==0.2.0
grpcio==1.10.1
html5lib==0.9999999
idna==2.7
ipython-genutils==0.2.0
itsdangerous==0.24
Jinja2==2.10
jsonschema==2.6.0
jupyter-core==4.4.0
lxml==3.5.0
Markdown==2.6.11
MarkupSafe==1.0
mistune==0.8.3
mock==2.0.0
nbconvert==5.3.1
nbformat==4.4.0
numpy==1.14.2
pandocfilters==1.4.2
pbr==4.0.1
pexpect==4.4.0
prompt-toolkit==1.0.15
protobuf==3.5.2.post1
ptyprocess==0.5.2
Pygments==2.2.0
requests==2.19.1
scikit-learn==0.19.1
scipy==1.0.1
six==1.10.0
sklearn==0.0
tensorboard==1.7.0
tensorflow==1.7.0
termcolor==1.1.0
testpath==0.3.1
traitlets==4.3.2
urllib3==1.26.5
virtualenv==16.0.0
wcwidth==0.1.7
Werkzeug==0.14.1
